.DS_Store
node_modules
npm-debug.log
.tmp
.idea
public
compiled
.swp
.vscode
# Runtime data
pids
*.pid
*.seed

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

newrelic_agent.log
newrelic.js

