@import '../../common/typography';
@import '../../common/button';
@import '../../common/colors';

.hero--left {
  margin-top: 30px;
  padding-left: 8%;
  text-align: left;
}

.hero--right {
  text-align: center;
  margin-top: 3%;
}

.hero--title {
  font-size: 4.5em;
  font-weight: 700;
  line-height: 1.1;
}

.hero--sub-title {
  font-size: 1.7em;
}

.button {
  @apply --drkBlueButton;
  width: 75%;
  margin: 0 2%;
  font-size: 1.3em;
}
@media (max-width: 508px) {
  .hero--right {
    margin-left: -40px;
  }
}

@media (max-width: 992px) {
  .hero--left {
    text-align: center;
  }
  .button {
    margin: 0px auto;
  }
}

@media (max-width: 1166px) {
  .hero--left {
    padding-left: 0;
  }
}