@import '../../common/colors';
@import '../../common/splash';

:root {
  --sideBySide {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
  --iconBgPosition {
    margin-top: 30px;
    background-repeat: no-repeat;
    height: 150px;
    background-position: 50%;
    background-size: 95%;
  }
}

.spalsh--section-title {
  font-size: 34px;
  margin: 30px 0;
}

.section--title-underline {
  @apply --splashTitleUnderline;
}

.numbers--left {
  @apply --sideBySide;
}

.numbers--right {
  @apply --sideBySide;
}

.numbers--num-title {
  text-align: center;
  font-size: 44px;
  &.red {
    color: var(--colorBrightPink);
  }
  &.blue {
    color: var(--colorLightBlue);
  }
}

.numbers--item {
  min-height: 180px;
  &:nth-of-type(1) {
    border-left: 2px solid var(--colorLightBlue);
    border-bottom: 2px solid var(--colorLightBlue);
    padding: 20px 0 70px;
  }
  &:nth-of-type(2) {
    border-right: 2px solid var(--colorLightBlue);
    border-bottom: 2px solid var(--colorLightBlue);
    padding: 40px 0 60px;
  }
  &:nth-of-type(3) {
    border-left: 2px solid var(--colorLightBlue);
    border-bottom: 2px solid var(--colorLightBlue);
    padding: 40px 0 60px;
  }
  &:nth-of-type(4) {
    border-right: 2px solid var(--colorLightBlue);
    padding: 40px 0 60px;
  }
}

.numbers--icon-bg {
  background-color: var(--colorBackground-tan);
  border-radius: 5px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.numbers--icon-first {
  @apply --iconBgPosition;
  background-image: url('images/splash/Test.svg');
}

.numbers--icon-second {
  @apply --iconBgPosition;
  background-image: url('images/splash/Target-Arrow.svg');
}

.numbers--icon-third {
  @apply --iconBgPosition;
  background-image: url('images/splash/Graph-Decrease.svg');
}

.numbers--icon-forth {
  @apply --iconBgPosition;
  background-image: url('images/splash/Graph-Increase.svg');
}

.numbers--item-underline {
  width: 33%;
  border: 2px solid var(--colorDarkGray);
  margin-top: 36px;
}

@apply --splashTitleMedia;

@media (max-width: 768px) {
  .numbers--right,
  .numbers--left {
    width: 75%;
  }
}
