@import '../../common/colors';
@import '../../common/splash';

:root {
  --worksIconImgBase {
    background-repeat: no-repeat;
    height: 99px;
    background-size: 100%;
  }
}

.spalsh--section-title {
  @apply --splashSectionTitle;
}

.section--title-underline {
  @apply --splashTitleUnderline;
}

.works--column-container {
  margin-bottom: 40px;
}

.works--item-container {
  margin: 20px 0;
  min-height: 110px;
}

.works--border {
  width: 103px;
  height: 103px;
  border: 2px solid rgb(210,221,226);
  border-radius: 90px;
  float: right;
  &.red {
    background-color: var(--colorBrightPink);
  }
  &.yellow {
    background-color: var(--colorYellow);
  }
  &.blue {
    background-color: var(--colorLightBlue);
  }
}

.works--icon-scientist {
  @apply --worksIconImgBase;
  background-image: url('images/splash/Scientist-2.svg'); 
}

.works--icon-coding {
  @apply --worksIconImgBase;
  background-image: url('images/splash/Windows-Search-Coding.svg'); 
}

.works--icon-dna {
  @apply --worksIconImgBase;
  background-image: url('images/splash/Dna.svg'); 
}

.works--icon-jigsaw {
  @apply --worksIconImgBase;
  background-image: url('images/splash/Jigsaw.svg'); 
}

.works--text-container {
  vertical-align: top;
  text-align: left;
  padding: 10px 125px 0 50px;
}

.works--title {
  font-size: 22px;
}

.works--description {
  font-size: 15px;
}

.works--sub-text {
  padding-bottom: 70px;
  font-size: 22px;
}

@media (max-width: 922px) {
  .works--text-container {
    padding: 10px 0 0;
  }
}

@apply --splashTitleMedia;