@import '../../common/card';
@import '../../common/colors';

:root {

  --companyAdmin--container {
    @apply --card;
    background: #fff;
    margin-bottom: 20px;
    padding: 15px 30px;
  }

}

.companyAdmin-container { 
  margin: 0px auto;
}

.container-card {
  @apply --companyAdmin--container;
}

.portal-title {
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
  color: #D6D6D6;
}