@import '../../common/colors';
@import '../../common/button';
@import '../../common/profile';

:root {

  --item--name {
    font-size: 17px; 
  }
  
  --item--title {
    color: #999;
  }

}

.jobItem--header {
  @apply --item--header;
  width: 75%;
}

.jobItem--title {
  color: #999;
  width: 75%;
}

.jobItem--name { 
  font-size: 17px;
  width: 25%;
}

.jobItem--date {
  display: inline-block;
  width: 25%;
  padding: 0;
  @apply --item--subheader;
}

.jobItem--description {
  @apply --item-description
}

.jobItem--spacer {
  width: 75%;
  border-top: 1px solid #eee;
  margin: 0 auto 30px;
}

.jobEdit--header {
  @apply --item--header;
  width: 100%;
}

.jobEdit--title {
  color: #999;
  width: 59%;
  margin-left: 6px;
}

.jobEdit--name { 
  font-size: 17px;
  width: 35%;
  margin-right: 6px;
}

.jobEdit--startDate { 
  width: 40%;
  margin: 10px 10px 0 0;
}

.jobEdit--endDate { 
  width: 40%;
  margin: 10px 0;
}

.jobEdit--description {
  width: 97%;
  height: 130px;
  font-size: 13px;
  line-height: 1.4;
  color: var(--colorLightGreyText);
  margin-top: 0;
}

.jobEdit--controls {
  height: 40px;
  padding-top: 12px;
}

.jobEdit--buttons {
  cursor: pointer;
  transition: 0.25s color ease;
}

.jobEdit--button-delete {
  float: left;
  margin-left: 10px;
}

.jobEdit--buttons:hover {
  color: var(--colorGreen);
}

@media (max-width: 508px) {
  .jobItem--date {
    width: 100%;
  }
}