@import '../../common/colors';
@import '../../common/button';
@import '../profile';

.button {
  @apply --drkBlueButton;
  width: 75%;
  margin: 0 2%;
  font-size: 1.3em;
}


.jobList--container {
  @apply --profile--container;
}