@import '../../common/colors';
@import '../../common/button';
@import '../../common/profile';

.languageList--container {
  @apply --profile--container;
}

.languageItem--editBg {
  background: rgb(188,188,188);
  border-radius: 51px;
  width: 18px;
  height: 18px;
  margin-left: 8px;
  padding: 3px;
}

.languageItem--editIcon {
  color: rgb(124, 124, 124);
  width: 14px !important;
  height: 14px !important;
}

.chip-container {
  @apply --chip--spacing; 
}


.languageAdd--form {
  overflow: hidden;
}

.profile-btn-group {
  @apply --btngr;
}
