@import '../../common/colors';
@import '../../common/button';
@import '../../common/profile';

.projectList--container {
  @apply --profile--container;
}

.projectItem--container {
  padding: 12px 0;
}

.projectItem--header {
  @apply --item--header;
}

.projectItem--description {
  margin: 0;
  color: var(--colorLightGreyText);
  padding: 0 0 0px 14px;
}

.projectItem--edit {
  height: 20px !important;
  width: 20px !important;
}

.projectItem--link {
  margin-bottom: -6px;
}

.projectItem--date {
  display: inline-block;
  padding: 0;
  @apply --item--subheader;
}

.projectItem--description {
  @apply --item-description;
}

.profile-btn-group {
  @apply --btngr;
}

.projectAdd-container {
  min-height: 300px;
}
.description {
  width: 100% !important;
}

.closed {
  @apply --closed;  
}