@import '../../common/colors';
@import '../../common/button';
@import '../../components/profile';

.button {
  @apply --drkBlueButton;
  width: 75%;
  margin: 0 2%;
  font-size: 1.3em;
}

.schoolList--container {
  @apply --profile--container;
}

.schoolItem--container {
  padding: 12px 0;
}

.schoolItem--header {
  border-left: 2px solid var(--colorBrightPink);
  padding-left: 10px;
}

.schoolItem--subHeader {
  margin: 0;
  color: var(--colorLightGreyText);
  padding: 0 0 0px 14px;
}

.schoolItem--edit {
  height: 20px !important;
  width: 20px !important;
}

.schoolItem--add {
}

.profile-btn-group {
  height: 55px;
  padding-top: 10px;
} 