@import '../../common/colors';
@import '../../common/button';
@import '../../common/profile';

.schoolList--container {
  @apply --profile--container;
}

.schoolItem--container {
  padding: 12px 0;
}

.schoolItem--header {
  @apply --item--header;
  margin-bottom: 4px;
}

.schoolItem--subHeader {
  @apply --item--subheader;
  color: var(--colorLightGreyText);
}

.date {
  @apply --item--subheader-date;
}

.schoolItem--edit {
  height: 20px !important;
  width: 20px !important;
}

.schoolAdd-container {
  min-height: 300px;
}

.profile-btn-group {
  @apply --btngr;
} 