@import '../../common/colors';
@import '../../common/button';
@import '../../components/profile';

.button {
  @apply --drkBlueButton;
  width: 75%;
  margin: 0 2%;
  font-size: 1.3em;
}

.schoolList--container {
  @apply --profile--container;
}

.schoolItem--container {
  padding: 20px 0;
}

.profile-btn-group {
  height: 55px;
  padding-top: 10px;
} 