@import '../../common/colors';
@import '../../common/button';
@import '../../common/profile';

.skillList--bootstrap-container {
  padding-left: 0px;
}

.skillList--container {
  @apply --profile--container;
}

.skillItem--chip {
  display: inline-flex !important;
}

.skillItem--editBg {
  background: rgb(188,188,188);
  border-radius: 51px;
  width: 18px;
  height: 18px;
  margin-left: 8px;
  padding: 3px;
}

.skillItem--editIcon {
  color: rgb(124, 124, 124);
  width: 14px !important;
  height: 14px !important;
}

.skillAdd--form {
  overflow: hidden;
}

.profile-btn-group {
  @apply --btngr;
}

.chip-container {
  @apply --chip--spacing; 
}

.left-border {
  border-left: 1px solid rgba(0, 0, 0, 0.298039);
}

.horizontal {
  display: inline-block;
  vertical-align: top;
  &.left {
    width: 50%;
  }
  &.right {
    padding-left: 3%;
    width: 50%;
  }
  &.split {
    width: 50%;
  }
  &.no-items {
    text-align: center;
    width: 100%;
    padding: 0px 25%;
    border-left: none;
  }
}

@media (max-width: 768px) {
  .horizontal {
    display: block;
    width: 100%;
    &.left,
    &.right,
    &.split {
      width: 100%;
    }
  }
  .left-border {
    border-left: none;
  }
  .horizontal.right {
    padding: 0;
  }
}