@import '../../common/colors';
@import '../../common/button';
@import '../../common/profile';

.skillList--bootstrap-container {
  padding-left: 0px;
}

.skillList--container {
  @apply --profile--container;
}

.skillItem--chip {
  display: inline-flex !important;
}

.skillItem--editBg {
  background: rgb(188,188,188);
  border-radius: 51px;
  width: 18px;
  height: 18px;
  margin-left: 8px;
  padding: 3px;
}

.skillItem--editIcon {
  color: rgb(124, 124, 124);
  width: 14px !important;
  height: 14px !important;
}

.skillAdd--form {
  overflow: hidden;
}

.profile-btn-group {
  @apply --btngr;
}

.chip-container {
  @apply --chip--spacing; 
}

.app-chip-container {
  width: 100%;
  list-style: none;
}

.app-chip-title {
  font-size: 17px;  
}

.left-border {
  border-left: 1px solid rgba(0, 0, 0, 0.298039);
}

.cta {
  color: #4F4F4F;
  text-align: left;
  margin: 0 10px 30px;
  padding: 5px 38px;
  background-color: #B3E5FC;
  border-radius: 2px;
  border: 1px solid #E8E8E8;
  margin-bottom: 30px;
}

.info-icon {
  margin: 0 0 10px -17px;
  display: inline-block;
  width: 10% !important;
  height: 55px !important;
  color: #FDD835 !important;
}

.msg {
  display: inline-block;
  padding-left: 20px;
  width: 90%;
  margin: 0;
}

.horizontal {
  display: inline-block;
  vertical-align: top;
  &.left {
    width: 50%;
  }
  &.right {
    padding-left: 3%;
    width: 50%;
  }
  &.split {
    width: 50%;
  }
  &.no-items {
    text-align: center;
    width: 100%;
    padding: 0px 25%;
    border-left: none;
  }
}

@media (max-width: 768px) {
  .horizontal {
    display: block;
    width: 100%;
    &.left,
    &.right,
    &.split {
      width: 100%;
    }
  }
  .left-border {
    border-left: none;
  }
  .horizontal.right {
    padding: 0;
  }
}