@import '../../common/colors';
@import '../../common/card';

.userCard--container {
  background: #fff;
  padding: 40px 0;
}

.userCard--picture-container {
  overflow: hidden;
  border-radius: 100px;
  width: 110px;
  height: 110px;
  margin: 0 auto;
}

.userCard--picture-img {
  width: 100%;
  height: 100%;
}

.userCard--name {
  font-size: 20px;
  margin: 15px 0 0 0;
}