@import '../../common/colors';
@import '../../common/card';
@import '../../common/profile';

.userCard--container {
  background: #fff;
  padding: 40px 0;
}
.userEdit--form {
  width: 256px;
  margin: 0 auto;
}

.userCard--picture-container {
  overflow: hidden;
  border-radius: 100px;
  width: 110px;
  height: 110px;
  margin: 0 auto;
}

.userCard--picture-img {
  width: 100%;
  height: 100%;
}

.userCard--default-icon {
  width: 100% !important;
  height: 100% !important;
  color: var(--colorLightGray);
}

.userCard--name {
  font-size: 20px;
  margin: 15px 0 0 0;
}

.userCard--edit {
  margin-left: 244px;
  position: absolute;
}

a.auto-complete {
  position: absolute;
  margin: -130px 28px 0;
}
.auto-complete-container {
  color: #fff;
  width: 35px;
  height: 35px;
  background: rgb(22,134,176);
  border-radius: 35px;
  margin: 30px auto 0;
  transition: all 0.450s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  &:hover{ 
    background-color: var(--colorDarkBlue);
  }
}
.popup {
  visibility: hidden;
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  border-radius: 46px 3px 3px 46px;
  width: 128px;
  padding: 2px 1px 2px 38px;
  font-size: 11px;
  color: #111;
  margin: 31px 0 0 -5px;
}
.popup.show {
  visibility: visible;
}
a .li-img {
  display: inline-block;
  width: 51%;
  height: 16px;
  vertical-align: top;
  margin-top: 8px;
  margin-left: 5%;
}

a p {
  margin: 0;
  padding: 10px;
  display: inline-block;
  width: 78%;
}