@import 'typography';
@import 'colors';

:root {

  --button {
    display: block;
    width: 100%;
    padding: 0.75rem 1.25rem;
    @apply --small;
    text-align: center;
    border-radius: 25px;
    border-style: solid;
    text-decoration: none !important;
    border-width: 2px;
    cursor: pointer;
    transition: 0.1s background-color ease;
  }

  --drkBlueButton {
    @apply --button;
    color: var(--colorBackground-darkBlue);
    background: var(--colorWhite);
    border-color: var(--colorLightText);

    &:hover {
      background: var(--colorBackground-darkBlue);
      border-color: var(--colorLightText);
      color: var(--colorWhite);
      text-decoration: none !important;
    }
  }
}
