:root {
  --colorBlack:               #000;
  --colorWhite:               #fff;
  --colorDarkerBlue:          color(var(--colorDodgerBlue) blackness(+20%));
  
  --colorBackground-tan:      #f9fafb;
  --colorBackground-darkBlue: #2185c5;
  --colorLightText:           #FDFDFD;
  --colorLightGreyText:       #66747F;

  --colorGreen:               rgb(45,203,115);
  --colorBrightPink:          #f20253;
  --colorYellow:              #ff9715;
  --colorDarkBlue:            #2185c5;
  --colorLightBlue:           #7ecefd;
  --colorDarkGray:            #677480;
  --colorLightGray:           #97abbc;
}