@import './card';
@import './colors';

:root {

  --profile--container {
    @apply --card;
    background: #fff;
    margin-bottom: 20px;
    padding: 15px 30px;
  }

  --btngr {
    float: left;
    width: 100%;
    min-height: 50px;
    padding: 16px 0;
  }

  --item--header {
    border-left: 2px solid var(--colorBrightPink);
    padding-left: 10px;
    font-size: 16px;
  }
 
  --item--subheader {
    margin: 0;
    padding: 0 0 0 14px;
  }

  --item--subheader-date {
    font-size: 15px;
    color: #363636;
  }

  --item-description {
    font-size: 13px;
    padding-left: 14px;
    line-height: 1.4;
    color: var(--colorLightGreyText);
  }

  --chip--spacing {
    display: inline-flex !important;
    margin: 4px 2px
  }

}