@import '../common/typography';
@import '../common/colors';

.header {
  @apply --heading;
  text-align: center;
}

.description { @apply --normal; }
.contribute { @apply --small; }

.row-flex, .row-flex > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border: 0;
  flex:1 1 auto;
}

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
  margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
  width:100%;
}


.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}

.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
}

h1 {
  line-height: 80px;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

h2, h3 {
  text-align: left;
  background-color: #fff;
  margin: 0;
  padding: 20px 0;
}

p {
  padding: 15px 0;
}

.timeline--column {
  background-color: #fff;
  border: solid 5px #eee;
}

.aboutTime--title {
  background-color: var(--colorBackground-darkBlue);
}

.aboutTime--item {
  height: 500px;
  padding-top: 100px;
  font-size: 20px;
  text-align: center;
}

.aboutTime--column-left {
  display: inline-block;
  width: 60% !important;
  padding: 0 10px;
}

.aboutTime--column-right {
  padding: 0 10px;
  display: inline-block;
  width: 40%
}
