.filter-container {
  width: 100%;
}

.enabled-filters {
  font-size: 11px;
}

.enabled-filter-item {
  margin: 10px 0;
  padding: 0 10px;
  font-family: Roboto, sans-serif;
}

.degree-item {
  display: inline-block;
  width: 50%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-container {
  height: 40px;
}

.filter-state {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.filter-title {
  display: inline-block;
  width: 50%;
}

.skill-filter {
  background-color: #fff;
  padding: 4px 10px;
  border-radius: 2px;
}

.strong {
  font-weight: 700;
}

.school-filter {
  margin: 7px 0;
}