.err-msg {
  transition: all 0.450s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  font-weight: normal;
  font-family: Roboto, sans-serif;
  color: rgb(244, 67, 54);
  font-size: 12px;
}
.rw-date-picker {
  border: none;
}