@import '../settings';
@import '../common/typography';
@import '../common/colors';
@import '../common/button';
@import '../common/input';

.login {
  width: 420px;
  margin: 118px auto 110px;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
}
@media (max-width: 508px) {
  .login {
    width: 100%;
  }
}
.waiting {
  .loading {
    display: block;
  }
}

.error {
  color: red;
}

.toggle-container {
  margin: 30px auto 0;
  width: 60%;
}

.toggle {
  display: inline-block !important;
  text-align: center;
  width: 39%;
  font-size: 22px;
  padding: 0;
  margin: 0;
  color: var(--colorLightGray);
  &.active {
    color: var(--colorDarkGray);
  }
}

@media (max-width: 508px) {
  .login {
    width: 100%;
  }
  .toggle-container {
    width: 100%;
  }
}

.alternative {
  background: var(--colorWhite);
  padding: 12px 8px;
  font-size: var(--fontMedium);
  text-align: center;
}

.li-container {
  margin: 2px 0px 0px;
  width: 100%;
  text-align: center;
  height: 57px;
}

.li-auth img {
  height: 43px;
  padding: 0px 0 4px 0;
  width: 50px;
  transition: 0.1s all ease-in-out;
}

.li-btn-container {
  background-color: #337ab7;
  width: 58%;
  margin: 0 auto;
  border-radius: 3px;
  color: #fff;
  &:hover {
    transform: scale(1.02);
  }
}

.btn{
  margin-top: 20px;
  width: 100%;
}

.text {
  width: 100% !important;
}
  
.alternative-link {
  color: var(--colorLightBlue);
  font-weight: bold;
  cursor: pointer;
}

.loading {
  display: none;
  text-align: center;
  margin: 24px auto;
}

.email-container {
  padding: 0px 12px 30px;
}

.google-container {
  padding: 16px 12px;
}

.header {}

.heading {
  @apply --subHeading;
  padding: 16px 12px;
  text-align: center;
}

.input {
  @apply --input;
}

.message {
  color: var(--colorBrightPink);
  font-size: var(--fontSmall);
}

.button {
  @apply --drkBlueButton;
}

.hint {
  @apply --small;
  color: var(--colorDarkGray);
}
