@import '../settings';
@import '../common/typography';
@import '../common/colors';
@import '../common/button';
@import '../common/input';

.login {
  width: 420px;
  margin: 0 auto;
  background-color: var(--colorBackground-tan);
  border: 2px solid var(--colorBackground-tan);
  border-radius: var(--colorLightGray);
}

.waiting {
  .loading {
    display: block;
  }
}

.alternative {
  background: var(--colorWhite);
  padding: 12px 8px;
  font-size: var(--fontMedium);
  text-align: center;
}

.alternative-link {
  color: var(--colorLightBlue);
  font-weight: bold;
  cursor: pointer;
}

.loading {
  display: none;
  text-align: center;
  margin: 24px auto;
}

.email-container {
  padding: 16px 12px;
  border-bottom: 2px solid var(--colorLightGray);
}

.google-container {
  padding: 16px 12px;
}

.header {}

.heading {
  @apply --subHeading;
  padding: 16px 12px;
  text-align: center;
}

.input {
  @apply --input;
}

.message {
  color: var(--colorBrightPink);
  font-size: var(--fontSmall);
}

.button {
  @apply --drkBlueButton;
}

.hint {
  @apply --small;
  color: var(--colorDarkGray);
}
