@import '../settings';
@import '../common/colors';
@import '../common/typography';

.message {
  display: none;
  padding: 12px 0;
  border-radius: var(--globalRadius);
  color: var(--colorBlack);
  font-size: var(--fontMedium);
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.show {
  display: block;
}

.success {
  background-color: rgb(129,210,235);
  color: var(--colorWhite);
}

.error {
  background-color: rgb(244, 67, 54);
  color: var(--colorWhite);
}

.icon {
  margin-right: 20px;
  color: #fff !important;
}