.popup-container {
  position: fixed;
  margin: -53px 0 0 -153px;
  z-index: 1000;
  border: 10px;
  background-color: rgba(250,250,250,0.9);
  color: #363636;
  padding: 14px;
  font-size: 13px;
}

.text {
  word-wrap: break-word;
  max-width: 200px;
  padding: 0;
  margin: 0;
}