@import '../common/colors';
@import '../common/typography';

.navigation {
  background-color: #FAFAFA;
  padding: 0 80px;
}

.navbar--overwrites {
  margin-bottom: 0px;
  height: 75px;
  padding-top: 10px;
}

.navbar-header--overwrites {
  margin-top: 5px;
}

.nav--items-right {
  margin-top: 12px;
}

.item {
  display: inline-block;
  text-decoration: none;
  padding: 16px 32px;
  color: var(--colorBlack);
}

.logo {
  margin-top: 4px;
  font-size: var(--fontHuge);
}

.active {
  color: var(--colorDodgerBlue);
}
