.experience-selector {
  padding: 10px 30px;
  color: rgba(0, 0, 0, 0.870588);
  background-color: rgb(255, 255, 255);
  transition: transform 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0s, opacity 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  opacity: 1;
  transform: scale(1, 1);
  transform-origin: left bottom 0px;
  position: fixed;
  z-index: 2100;
  max-height: 537px;
  height: 150px;
  width: 400px;
  top: 151px;
  left: 562.5px;
}

.experience-title {
  color: rgb(158, 158, 158);
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}

.experience-sub-title {
  padding: 0;
  text-align: center;
  font-size: 11px;
}

.role-title {
  font-size: 17px;
  margin: 30px 0 0 15px;
}

.req-btns {
  margin: 30px 0;
}