.container {
  background-color: #E0F2F1;
  color: #363636;
  padding: 8px 13px 8px 9px;
  border-radius: 100px;
  border: 1px solid #f3f3f3;
  height: 35px;
  width: 35px;
}

.oneDigit {
  padding-left: 13px;
}

.twoDigit {
  padding-left: 9px;
}

.threeDigit {
  padding-left: 5px;
}

.naDigit {
  padding: 9px 13px 8px 8px;
  font-size: 11px;
}