@import '../common/splash';
@import '../common/colors';
@import '../common/button';

section {
  text-align: center;
  min-height: 500px;
  padding: 2% 10% 1px;
}

.section--no-padding {
  padding-right: 0;
  padding-left: 0;
}

.section--works {
  padding: 2% 10% 3%;
}

.section--tan {
  background-color: var(--colorBackground-tan);
}

.section--darkBlue {
  color: var(--colorLightText);
  background: var(--colorBackground-darkBlue);
}

.spalsh--section-title {
  @apply --splashSectionTitle;
}

.section--title-underline {
  @apply --splashTitleUnderline;
}

.section--title-underline-dark {
  border: 2px solid rgba(253, 253, 253, 0.7);
}

.section--hero {
  padding: 5% 10% 0;
  text-align: left;
}

.section--numbers {
  min-height: 1370px;
}
